# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
heartbeatplus/heartbeatplus.opensdf
heartbeatplus/heartbeatplus.sdf
heartbeatplus/heartbeatplus.suo
heartbeatplus/ReleaseStatic/yqdsurvey.pdb
heartbeatplus/yqdsurvey/ReleaseStatic/cl.command.1.tlog
heartbeatplus/yqdsurvey/ReleaseStatic/CL.read.1.tlog
heartbeatplus/yqdsurvey/ReleaseStatic/CL.write.1.tlog
heartbeatplus/yqdsurvey/ReleaseStatic/link.command.1.tlog
heartbeatplus/yqdsurvey/ReleaseStatic/link.read.1.tlog
heartbeatplus/yqdsurvey/ReleaseStatic/link.write.1.tlog
heartbeatplus/yqdsurvey/ReleaseStatic/mt.command.1.tlog
heartbeatplus/yqdsurvey/ReleaseStatic/mt.read.1.tlog
heartbeatplus/yqdsurvey/ReleaseStatic/mt.write.1.tlog
heartbeatplus/yqdsurvey/ReleaseStatic/vc100.pdb
heartbeatplus/yqdsurvey/ReleaseStatic/yqdsurvey.exe.intermediate.manifest
heartbeatplus/yqdsurvey/ReleaseStatic/yqdsurvey.lastbuildstate
heartbeatplus/yqdsurvey/ReleaseStatic/yqdsurvey.log
heartbeatplus/yqdsurvey/ReleaseStatic/yqdsurvey.write.1.tlog
heartbeatplus/ipch/yqdsurvey-2d0f3a5e/yqdsurvey-b6a80248.ipch
heartbeatplus/ipch/yqdsurvey-2d0f3a5e/yqdsurvey-d0178e6a.ipch
heartbeatplus/hbclient/hbclient.vcxproj.filters
heartbeatplus/hbclient/Release/cl.command.1.tlog
heartbeatplus/hbclient/Release/CL.read.1.tlog
heartbeatplus/hbclient/Release/CL.write.1.tlog
heartbeatplus/hbclient/Release/hbclient.lastbuildstate
heartbeatplus/hbclient/Release/hbclient.log
heartbeatplus/hbclient/Release/hbclient.write.1.tlog
heartbeatplus/hbclient/Release/lib.command.1.tlog
heartbeatplus/hbclient/Release/Lib-link.read.1.tlog
heartbeatplus/hbclient/Release/Lib-link.write.1.tlog
heartbeatplus/hbclient/Release/vc100.pdb
heartbeatplus/ipch/hbclient-d56113d8/hbclient-e432778f.ipch
heartbeatplus/ipch/yqdsurvey-2d0f3a5e/heartbeat-4c57f67e.ipch
heartbeatplus/ReleaseStatic/heartbeat.pdb
heartbeatplus/yqdsurvey/ReleaseStatic/heartbeat.exe.intermediate.manifest
heartbeatplus/yqdsurvey/ReleaseStatic/heartbeat.lastbuildstate
heartbeatplus/yqdsurvey/ReleaseStatic/heartbeat.write.1.tlog
heartbeatplus/yqdsurvey/ReleaseStatic/yqdsurvey.vcxprojResolveAssemblyReference.cache
setup/heartbeat.pdb
heartbeatplus/Debug/yqdsurvey.pdb
heartbeatplus/ipch/yqdsurvey-d6c5cb51/heartbeat-4c57f67e.ipch
heartbeatplus/yqdsurvey/Debug/cl.command.1.tlog
heartbeatplus/yqdsurvey/Debug/CL.read.1.tlog
heartbeatplus/yqdsurvey/Debug/CL.write.1.tlog
heartbeatplus/yqdsurvey/Debug/link.command.1.tlog
heartbeatplus/yqdsurvey/Debug/link.read.1.tlog
heartbeatplus/yqdsurvey/Debug/link.write.1.tlog
heartbeatplus/yqdsurvey/Debug/vc100.idb
heartbeatplus/yqdsurvey/Debug/vc100.pdb
heartbeatplus/yqdsurvey/Debug/yqdsurvey.exe.intermediate.manifest
heartbeatplus/yqdsurvey/Debug/yqdsurvey.lastbuildstate
heartbeatplus/yqdsurvey/Debug/yqdsurvey.log
heartbeatplus/yqdsurvey/Debug/yqdsurvey.unsuccessfulbuild
heartbeatplus/yqdsurvey/Debug/yqdsurvey.write.1.tlog
/setup/log.txt
build/heartbeatlog.txt

# vcpkg - 忽略构建相关的目录，只保留已安装的库
vcpkg/buildtrees/
vcpkg/downloads/
vcpkg/packages/
vcpkg/ports/
vcpkg/scripts/
vcpkg/toolsrc/
vcpkg/triplets/
vcpkg/versions/
vcpkg/docs/

# 但保留已安装的库文件
!vcpkg/installed/
